body {
  background: #191765;
  margin-left: 24px;
  margin-right: 24px;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 44px;
}

header h3 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.name h3 {
  font-size: 18px;
}

.intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.intro h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
  color: #7d73fc;
}

.intro h2 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
}

.intro p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.abilities {
  display: flex;
  flex-wrap: wrap;
}

li {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 9.5px 40px 9.5px 0;
}

.title {
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #c8c8d4;
}

.container {
  display: flex;
  justify-content: center;
}

.contact-list li {
  display: inline;
}

.icons {
  color: #fff;
  font-size: 20px;
}

.work_section {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.work_link1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 32px;
  text-align: center;
  color: #a2a3ae;
}

.work_link2 {
  color: #a2a3ae;
  font-size: 15px;
  padding-right: 12px;
  line-height: 32px;
}

.recent_work {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #a2a3ae;
}

.preview {
  position: static;
  width: 327px;
  height: 236px;
  background-color: #fff;
  margin-top: 48px;
}

.description_title {
  font-family: Roboto, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
}

.description {
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #dcdce8;
}

.recipient ul {
  display: flex;
  justify-content: flex-start;
}

button {
  outline: none;
  color: #fff;
  background-color: #edecff;
  border: none;
  background-color: #7d73fc;
  margin: 40px 0 0 0;
  padding: 10px 7px 10px 7px;
}

.recipient li h3 {
  font-family: Inter, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: -10px;
}

.verticale {
  border-right: 1px solid grey;
  height: 40px;
  margin: -15px;
  position: absolute;
}
