@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  background: #191765;
  margin-left: 24px;
  margin-right: 24px;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 44px;
}

header h3 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

footer h3 {
  font-family: Roboto, sans-serif, arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-top: -5px;
}

.name h3 {
  font-size: 18px;
}

.intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.intro h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
  color: #7d73fc;
}

.intro h2 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
}

.intro p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.abilities {
  display: flex;
  flex-wrap: wrap;
}

li {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 9.5px 40px 9.5px 0;
}

.title {
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #c8c8d4;
}

.container {
  display: flex;
  justify-content: center;
}

.contact-list {
  margin-left: 10px;
}

.contact-list li {
  display: inline;
}

.icons {
  color: #fff;
  font-size: 20px;
}

.work_section {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.work_link1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 32px;
  text-align: center;
  color: #a2a3ae;
}

.work_link2 {
  color: #a2a3ae;
  font-size: 15px;
  padding-right: 12px;
  line-height: 32px;
}

.recent_work {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #a2a3ae;
}

.preview {
  position: static;
  width: 327px;
  height: 236px;
  background-color: #fff;
  margin-top: 48px;
}

.description_title {
  font-family: Roboto, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
}

.description {
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #dcdce8;
}

.recipient {
  /*display: flex;
  justify-content: flex-start;
  */
}

button {
  outline: none;
  color: #fff;
  border: none;
  background-color: #7d73fc;
  margin-top: 40px;
  padding: 10px 7px 10px 7px;
}

.form h3 {
  color: #9390ff;
  font-family: Roboto, sans-serif, arial;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: -5px;
}

.recipient h3 {
  font-family: Inter, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 10px;
  float: left;
}

.verticale {
  border-right: 1px solid grey;
  height: 40px;
  margin: -15px;
  position: absolute;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.form p {
  font-family: Inter, sans-serif, arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

form input {
  margin-bottom: 24px;
  padding: 16px 15px 16px 15px;
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
}

form textarea {
  margin-bottom: 40px;
  font-family: Inter, sans-serif, arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  padding: 12px;
}

form button {
  width: 89px;
  height: 48px;
  margin-top: -10px;
}

.extended-hr {
  margin: 71px -20px 0 -20px;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.f-contact-list {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-content: space-between;
}
